@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

* {
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
}

p {
  color: rgba(115, 115, 115, 1);
}

.my-bg {
  background-image: url('/assets/hero-cover.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .box {
    background-color: rgba(0, 0, 0, 0.5);

    nav {
      max-width: 1150px;
    }
  }

  .navCustom {
    @media (max-width: 991px) {
      ul {
        margin: 0 auto !important;
        text-align: center;

        a {
          color: rgba(115, 115, 115, 1) !important;
          font-weight: 400;
          font-size: 20px;
        }

        a:hover {
          color: rgba(37, 43, 66, 1) !important;
        }
      }

      h5 {
        font-size: 24px;
        font-weight: 700;
        color: rgba(37, 43, 66, 1);
      }

      .offcanvasIcons {
        display: flex;
        justify-content: end;
        min-width: 200px;

        a {
          margin: 0 15px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}

.btn-azul {
  background-color: #23a6f0;
  color: #e9ecef;

  &:hover {
    background-color: #0d6efd;
    color: white;
  }
}

.headerContainer {
  width: 100%;
  max-width: 599px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;

  @media (max-width: 575px) {
    h1 {
      max-width: 313px;
      font-weight: 700;
      font-size: 40px !important;
      color: rgba(255, 255, 255, 1);
    }

    p {
      font-size: 20px;
      font-weight: 500;
      color: white;
      max-width: 302px;
      margin: 35px 0;
    }
  }

  @media (max-width: 991px) {
    margin-bottom: 80px;
    text-align: center;
    justify-content: center;

    p {
      margin: 35px auto !important;
    }
  }

  text-align: start;

  h1 {
    font-weight: 800;
    font-size: 58px;
    color: rgba(255, 255, 255, 1);
  }

  p {
    font-size: 20px;
    font-weight: 500;
    color: white;
    max-width: 376px;
    margin: 35px 0;
  }

  div {
    margin: 0;

    a {
      max-width: 187px;
      padding: 15px, 36px;
    }

    a:first-child {
      margin-right: 10px;
    }
  }
}

.headerPoints {
  padding: 10px;
  margin: 80px auto;
  text-align: center;
  min-width: 300px;
  max-width: 470px;

  h2 {
    margin: 0 auto;
    font-size: 40px;
    font-weight: 700;
  }

  p {
    margin: 20px auto;
    font-size: 14px;
    font-weight: 500;
  }
}

.cardHeader {
  text-align: center;

  h2 {
    font-size: 24px;
    font-weight: 700;
  }

  p {
    margin: 35px auto;
    font-size: 16px;
    font-weight: 700;
  }
}

.bookContainer {
  border-radius: 10px;
  max-width: 330px;
  height: 610px;

  &:only-child {
    padding: 40px;
    gap: 40px;

    @media (max-width: 575px) {
      padding: 20px;
    }
  }

  h1 {
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 700;
  }

  button {
    margin-top: 40px;
    padding: 15px 40px;
    border-radius: 5px;
    max-width: 248px;
    height: 52px;
    font-weight: 700;
    font-size: 14px;
  }

  .bookInfo {
    max-width: 248px;
    height: 366px;
    border-radius: 1px;

    .infoChild {
      margin: 10px 0px;
      max-width: 248px;
      height: 84px;

      label {
        font-size: 14px;
        font-weight: 600;
      }
    }
  }

  input,
  select {
    width: 246px;
    height: 50px;
  }
}

.clients {
  .cardClients {
    margin: 0 auto;
    background-color: white;
    border: solid 1px rgba(222, 222, 222, 1);
    border-radius: 5px;
    max-width: 327px;
    height: 376px;
    padding: 40px 35px;
    display: flex;
    flex-direction: column;

    img {
      margin: 0 auto;
    }

    .card-body {
      width: 219px;
      height: 225px;
      margin: 10px auto;

      p {
        font-size: 14px;
        font-weight: 500;
        text-align: center;
      }
    }
  }
}

.aboutUs {
  .widthControl {
    @media (max-width: 767px) {
      max-width: 333px;
    }
  }

  .imgLegend {
    //margin-left: 100px;
    height: 356px;

    .mainLegend {
      h3 {
        max-width: 306px;
        font-size: 24px;
        font-weight: 700;

        @media (max-width: 575px) {
          font-size: 40px;
          margin: 0;
        }
      }

      p {
        text-align: start;
        max-width: 330px;
        font-size: 14px;
        font-weight: 500;
      }
    }

    .legendCommit {
      h3 {
        max-width: 286px;
        font-size: 16px;
        font-weight: 700;
        margin: 0;
      }

      p {
        text-align: start;
        max-width: 286px;
        font-size: 14px;
        font-weight: 600;
        margin: 0;
      }
    }
  }
}

.pricing {
  .pricingCard {
    margin: 0 2px;
    background-color: white;
    border: solid 2px #23a6f0;
    border-radius: 5px;
    max-width: 327px;
    height: 665px;
    padding: 40px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a {
      height: 52px;
      width: 246px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
    }

    .cardBody {
      width: 219px;
      height: 225px;
      margin: 10px auto;
      padding: 0;

      .pricingText {
        p {
          margin: 0 4px;
          color: #23a6f0;
          font-size: 40px;
          font-weight: 700;
          text-align: center;

          span {
            font-size: 14px;
            font-weight: 700;
            color: rgba(35, 166, 240, 1);
            margin: 0;

            &:last-child {
              margin-top: 5px;
              font-weight: 600;
              color: rgba(142, 194, 242, 1);
            }
          }
        }
      }
    }

    .beneficios {
      width: 100%;

      .selectSecondary {
        color: #bdbdbd;
      }

      div {
        align-items: flex-start;
        margin: 8px 0;

        p {
          color: rgba(37, 43, 66, 1);
          font-size: 14px;
          font-weight: 600;
        }

        i {
          margin-right: 5px;
        }
      }
    }
  }

  .pricingCardSelected {
    background-color: #252b42;
    height: 705px;

    h2,
    p {
      color: white !important;
    }

    .pricingText p {
      color: #23a6f0 !important;
    }

    @media (max-width: 991px) {
      margin: 30px auto;
    }

    //add disabled
  }
}

.branches {
  background-color: #252b42;

  .branchesText {
    max-width: 602px;
    height: 329px;
    color: rgba(255, 255, 255, 1);

    h3 {
      font-size: 40px;
      font-weight: 700;
      width: 476px;
    }

    p {
      font-size: 14px;
      font-weight: 500;
      width: 455px;
    }
  }
}

.secondBook {
  background: linear-gradient(180deg,
      rgba(37, 43, 66, 1) 50%,
      RGB(248, 249, 250) 50%);

  img {
    margin-right: -1px;
  }

  .secondBookContainer {
    background-color: white;
    height: 610px;
    max-width: 610px;
    width: 100%;
    padding: 50px;

    h4 {
      font-size: 24px;
      font-weight: 700;
    }

    button {
      margin-top: 40px;
      padding: 15px 40px;
      border-radius: 5px;
      font-weight: 700;
      font-size: 14px;
    }

    .secondBookInfo {
      width: 100%;
      height: 366px;
      border-radius: 1px;

      .SecondInfoChild {
        margin: 10px 0px;
        width: 100%;
        height: 84px;

        label {
          font-size: 14px;
          font-weight: 600;
        }
      }
    }

    input,
    select {
      width: 100%;
      height: 50px;
    }
  }
}

footer {
  margin-top: 130px;
  background-color: white;

  h6 {
    color: rgba(37, 43, 66, 1);
    font-size: 24px;
    font-weight: 700;
  }

  a {
    color: rgba(115, 115, 115, 1);
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
  }

  a:hover {
    color: #0d6efd;
  }

  i {
    color: #23a6f0;

    &:hover {
      color: #0d6efd;
      background-color: whitesmoke;
      border-radius: 20px;
    }
  }
}

.displayMobile {
  @media (max-width: 575px) {
    display: block;
  }

  display: none;
}

.displayDesktop {
  @media (min-width: 576px) {
    display: block;
  }

  display: none;
}

.mobile {
  display: block;
  text-align: center;
  padding: 0;

  .cardBusiness {
    margin: 30px 0;
    height: 385px;
    background-color: #d9edff;
    border: 2px solid #d9edff;
    border-radius: 10px;

    .cardBusinessHeader {
      max-width: 354px;
      height: 132px;
      background-color: #d9edff;
      border: 2px solid #d9edff;
      border-radius: 10px;
    }

    .cardBusinessBody {
      max-width: 352px;
      height: 253px;
      background-color: white;
      border: 1px solid white;
      border-radius: 10px;
      text-align: start;

      ul {
        padding: 30px 50px;

        @media (max-width: 575px) {
          padding: 20px;
        }

        li {
          margin: 5px 0;
          line-height: 24px;
          list-style: none;
          font-size: 14px;
          font-weight: 600;
          color: rgba(115, 115, 115, 1);
        }

        a {
          margin: 5px 0;
          text-decoration: none;
        }
      }
    }
  }

  @media (min-width: 576px) {
    display: none !important;
  }
}

.secondBookMobile {
  width: 100%;
  background-color: white;
  padding: 0;

  .secondBookContainerMobile {
    background-color: white;
    height: 800px;

    h4 {
      span {
        font-size: 16px;
        margin-left: -11px;
      }

      margin-left: 11px;
      font-size: 40px;
      font-weight: 700;
      width: 292px;
    }

    button {
      padding: 15px 40px;
      border-radius: 5px;
      font-weight: 700;
      font-size: 14px;
    }

    .secondBookInfoMobile {
      width: 100%;
      height: 420px;
      border-radius: 1px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .SecondInfoChildMobile {
        margin: 10px 0px;
        width: 100%;

        label {
          font-size: 14px;
          font-weight: 600;
        }
      }
    }

    input,
    select {
      max-width: 100%;
      height: 50px;
    }

    textarea {
      height: 140px;
    }
  }
}

.footerControl {

  a,
  h6 {
    margin: 0;
  }

  @media (max-width: 575px) {
    align-items: center;

    .footerControlElement {
      width: 80%;

      h6 {
        font-size: 30px;
      }
    }
  }
}

@media (max-width: 575px) {
  footer {
    margin-top: 10px;
    padding: 50px 0 0 0;
  }

  .cardClients {
    height: 460px !important;

    .nameClients {
      margin-top: 30px;
      a {
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;

        &:last-child {
          color: rgba(37, 43, 66, 1);
          margin-top: 15px;
        }
      }
    }
  }
}